.wrapper{
  margin-bottom: 1%;
}
.jumbotron {
    background-color: #232f3e;
    color: white;
  }
  .subtitle {
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 300;
    padding-bottom: 15px;
  }

  .headerText{
    text-align: center;
  }
